{%- render 'stylesheet', name: 'product-card' -%}
{%- liquid
  assign hover_image = ''

  if product_card.images[1]
    assign hover_image = product_card.images[1]
  endif

  for image in product_card.images
    if image.alt == 'hover'
      assign hover_image = image
    endif
  endfor

  assign hover_image_alt_text = hover_image.alt
  if hover_image_alt_text == blank
    assign hover_image_alt_text = fallback_alt_text
  endif
%}

<div class="product-card"  data-has-hover-image="{%- if hover_image != '' -%}true{%- else -%}false{%- endif -%}">
    <div class="product-card__image">
       <div class="product-card__tags">
        {% for tag in product_card.tags %}
          <span data-product-tag="{{ tag }}" class="product-card__tag">{{ tag }}</span>
        {% endfor %}
       </div>
          <a href="{{ product_card.url }}">
            <img

                srcset="
                  {%- if product_card.featured_media.width >= 165 -%}{{ product_card.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if product_card.featured_media.width >= 360 -%}{{ product_card.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if product_card.featured_media.width >= 533 -%}{{ product_card.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if product_card.featured_media.width >= 720 -%}{{ product_card.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if product_card.featured_media.width >= 940 -%}{{ product_card.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if product_card.featured_media.width >= 1066 -%}{{ product_card.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ product_card.featured_media | image_url }} {{ product_card.featured_media.width }}w
                "
                src="{{ product_card.featured_media | image_url: width: 2000 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ product_card.featured_media.alt | escape }}"
                class="motion-reduce"
                loading="lazy"
                width="{{ product_card.featured_media.width }}"
                height="{{ product_card.featured_media.height }}"
              >
              {%- if hover_image != blank and hover_image != '' -%}
                {{
                  hover_image
                  | image_url: width: 2000
                  | image_tag: preload: true, class: 'product-card__image--hover', loading: 'lazy', alt: hover_image_alt_text
                }}
              {%- endif -%}
          </a>
            <div class="product-card__content">
                <h3 class="product-card__title">{{ product_card.title  }}</h3>
            </div>
    </div>  
</div>