{%- render 'stylesheet', name: -%}

<section class="whatwe-achieved" id="whatwe-achieved">
  <div class="container">
    {% if section.settings.whatwe_achieved_title %}
      <h2 class="whatwe__achieved-title">{{ section.settings.whatwe_achieved_title }}</h2>
    {% endif %}
    <div class="achieved__card-wrapper">
      {% for block in section.blocks %}
        <div class="achieved-card">
          {{ block.settings.achivement_image | image_url: width: 110 | image_tag }} 
          {% if block.settings.achivement_number %}
            <number-counter>
              <h3 class="number-counter" id="counter-{{ block.id }}" data-target-number="{{ block.settings.achivement_number }}">0</h3>
              {{block.settings.achivement_number_text}}
            </number-counter>
          {% endif %}
          {% if block.settings.achivement_text %}
            <p>{{ block.settings.achivement_text }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "What we achieved",
  "blocks": [
    {
      "type": "section_item",
      "name": "Section item",
      "settings": [
        {
          "type": "image_picker",
          "id": "achivement_image",
          "label": "Select achivement image"
        },
        {
          "type": "text",
          "id": "achivement_number",
          "label": "Select achivement number"
        },
        {
          "type": "text",
          "id": "achivement_number_text",
          "label": "Select achivement number text"
        },
        {
          "type": "text",
          "id": "achivement_text",
          "label": "Select achivement text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "What we achieved"
    }
  ]
}
{% endschema %}
